*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
}

.wellcome {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('./img/2024-11-12.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

@media (max-width: 768px) {
    .wellcome {
        height: 40vh;
        background-position: center;
    }
}

@media (max-width: 480px) {
    .wellcome {
        height: 30vh;
        background-position: center;
    }
}

.sectionHead {
    text-align: center;
    font-size: 30px;
    margin: 25px 0;
    padding: 0;
    font-weight: bold;
}

.item-box {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    box-shadow: 9px 6px 13px rgba(0, 0, 0, 0.32);
    transition: all 0.2s;
}

.item-box .item-box-img {
    width: 100%;
    height: auto;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .item-box .item-box-img {
        width: 80%;
    }
}

.item-box .item-box-img>img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
    object-fit: cover;
}

.item-box-content {
    padding: 15px;
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    text-align: center;
}

.item-box-features {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #555;
    font-size: 14px;
    padding: 0;
    list-style: none;
}


footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: w; /* Ensure content wraps on smaller screens */
    padding: 0 0px; /* Add some padding to the sides */
}

footer .col-md-6 {
    flex: 1; /* Allow columns to grow and shrink equally */
    min-width: 500px; /* Ensure columns don't get too small */
    margin: 10px 0; /* Add some margin for spacing */
}

footer p {
    margin: 0;
    color: #6c757d;
}

footer .text-right {
    text-align: right;
}

@media (min-width: 768px) {
    footer .kvk-btw {
        display: flex;
        justify-content: center;
        gap: 20px; /* Add some space between the items */
    }
}
